mixin colorCard(name, description)
    .color-card
        div(class="color-card_palette" style=`background-color:${description}`)
    .color-card__info
        h2.color-card__info_heading #{name}
        p.color-card__info_description #{description}