@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.ttf');
	src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.ttf');
    src: local('☺'), url('../fonts/Quicksand-Regular.woff') format('woff'), url('../fonts/Quicksand-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.ttf');
    src: local('☺'), url('../fonts/Quicksand-Bold.woff') format('woff'), url('../fonts/Quicksand-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}